
body{
  background-color:rgba(245, 245, 245, 0.267) ;
  font-family: 'roboto', sans-serif;
  color: rgb(26, 25, 25);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  color: #146454;
  font-size: 32px;
  font-family: 'roboto', sans-serif;
  font-weight: 900;
}

h2{
  color: #418071;
  font-size: 24px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

p{
  color: rgb(26, 25, 25);
  font-size: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
}

a{
  color: #1c3832;
  text-decoration: none;
}
a:hover{
  background-color: #67ccb6;
  color: aliceblue;
  size:32px;
}

#photo-avatar {
  border-radius: 50%;
}

.btn-green{
  border-radius: 5px;
  background-color: #1c3832;
  color: aliceblue;
  padding: 8px 16px;
  margin: 20px;
}

.container {
  text-align: center;
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  margin: 20px auto;
  text-align: center;
}

#bottom ul{
    list-style: none;
    padding-left: 0px;
    height: 50px
}

.logo-footer {
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.logo-footer:hover {
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
